# URL da Nota Fiscal Eletrônica (NFC-e) a ser extraída
# Exemplo: https://ww1.receita.fazenda.df.gov.br/DecVisualizador/Nfce/Captcha?Chave=SUA_CHAVE_AQUI
NFE_URL=

# Nível de log da aplicação
# Valores aceitos: debug (salva o HTML localmente para análise), ou deixe em branco para padrão
LOG_LEVEL=debug
